*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}
body{
    background: #CED6E0;
    color: #2F3542;
}
.navbar{
    width: 280px;
    height: 100%;
    background: #DFE4EA;
    border-right: 1px solid #000000;
    position: fixed;
}
.vazy_box{
    width: 200px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    border-top: 5px solid #FF4757;
    border-right: 5px solid #FF4757;
}
.vazy_text{
    width: 106px;
    height: 102px;
    padding: 35px 49px;
    font-family: 'Inspiration';
    font-size: 5em;
}
.navbar > ul{
    margin-top: 165px;
}
.navbar > ul li{
    width: 220px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #2F3542;
    font-size: 40px;
    font-family: "Juice ITC";
    cursor: pointer;
}
.navbar > ul li i{
    font-size: 35px;
}
.navbar > ul li:hover{
    color: #FF4757;
}
/* navtheme */
.navtheme{
    position: fixed;
    top: 100px;
    right: 25px;
}
.navtheme i{
    font-size: 5em;
}
.navtheme #sun-display{
    display: block;
    cursor: pointer;
}
.navtheme #moon-display{
    display: none;
    cursor: pointer;
}
.navtheme #color-display{
    margin-top: 50px;
    cursor: pointer;
}
.navtheme #sun-display:hover,#moon-display:hover,#color-display:hover{
    color: #FF4757;
}
/* home */
.parent{
    width: 1050px;
    height: 685px;
    padding-top: 160px;
    padding-left: 350px;
    display: flex;
    flex-direction: row;
}
.son1{
    padding-top: 135px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.son1 div{
    font-family: "Juice ITC";
    width: 400px;
    font-size: 3em;
}
.son1 div:first-child{
    text-align: center;
}
.son1 div:first-child span{
    font-family: "Inspiration";
    font-size: 1.3em;
    color: #FF4757;
}
.son1 div:nth-child(2) span{
    font-size: 1em;
    color: #FF4757;
}
.son1 div:last-child{
    font-size: 2em;
}
.son2 img{
    width: 500px;
    height: 685px;
    padding: 20px;
}