* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --core_key: #e056fd;
  --core1: #eb3b5a;
  --core2: #e67e22;
  --core3: #22a6b3;
  --core4: #27ae60;
  --core5: #CED6E0;
  --core6: #2D3436;
  --core_change1: var(--core3);
  --core_change2: var(--core5);
  --core_change3: var(--core6);
}

body {
  background: #CED6E0;
  color: #2F3542;
  z-index: -2;
}
body .navbar {
  width: 280px;
  height: 100%;
  background: #DFE4EA;
  border-right: 1px solid #2F3542;
  position: fixed;
}
body .navbar .vazy_box {
  width: 200px;
  height: 160px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  border-top: 5px solid var(--core_change1);
  border-right: 5px solid var(--core_change1);
}
body .navbar .vazy_box .vazy_text {
  width: 106px;
  height: 102px;
  padding: 35px 49px;
  font-family: "Inspiration";
  font-size: 3em;
  transition: ease-in 0.1s;
}
body .navbar ul {
  margin-top: 100px;
}
body .navbar ul li {
  width: 220px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #2F3542;
  font-size: 40px;
  font-family: "Juice ITC";
  cursor: pointer;
}
body .navbar ul li i {
  font-size: 35px;
}
body .navbar ul li:hover {
  color: var(--core_change1);
}
body .navtheme {
  position: fixed;
  top: 60px;
  right: 25px;
  z-index: 5;
}
body .navtheme #sun-display {
  cursor: pointer;
}
body .navtheme #sun-display i {
  font-size: 5em;
}
body .navtheme #sun-display:hover {
  color: var(--core_change1);
}
body .navtheme #moon-display {
  cursor: pointer;
  display: none;
}
body .navtheme #moon-display i {
  font-size: 5em;
}
body .navtheme #moon-display:hover {
  color: var(--core_change1);
}
body .navtheme #color-display {
  position: relative;
  cursor: pointer;
  margin-top: 50px;
}
body .navtheme #color-display i {
  font-size: 5em;
}
body .navtheme #color-display:hover {
  color: var(--core_change1);
}
body .navtheme #color-display-menu {
  width: 5em;
  margin-top: 25px;
  background: #333;
  display: none;
}
body .navtheme #color-display-menu ul {
  padding: 1em;
}
body .navtheme #color-display-menu ul div {
  width: 2.5em;
  height: 2.5em;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 100rem;
  cursor: pointer;
}
body .navtheme #color-display-menu ul div:nth-child(1) {
  margin-bottom: 20px;
  background: var(--core1);
}
body .navtheme #color-display-menu ul div:nth-child(2) {
  margin-bottom: 20px;
  background: var(--core2);
}
body .navtheme #color-display-menu ul div:nth-child(3) {
  margin-bottom: 20px;
  background: var(--core3);
}
body .navtheme #color-display-menu ul div:nth-child(4) {
  background: var(--core4);
}
body .home-section {
  width: 80%;
  position: fixed;
  top: 0;
  left: 280px;
  right: 0;
}
body .home-section .parent {
  padding-top: 200px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
body .home-section .parent .son1 {
  padding-top: 135px;
  height: clamp(300px, 30vw, 500px);
  display: flex;
  flex-direction: column;
}
body .home-section .parent .son1 div {
  font-family: "Juice ITC";
  width: clamp(300px, 30vw, 500px);
  font-size: 3em;
}
body .home-section .parent .son1 div:first-child {
  text-align: center;
}
body .home-section .parent .son1 div:first-child span {
  font-family: "Inspiration";
  font-size: 1.3em;
  color: var(--core_change1);
}
body .home-section .parent .son1 div:nth-child(2) {
  padding-top: 20px;
  position: relative;
}
body .home-section .parent .son1 div:nth-child(2) span {
  font-size: 1em;
}
body .home-section .parent .son1 div:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: clamp(150px, 15vw, 400px);
  height: 100%;
  background: var(--core_change2);
  border-left: 2px solid var(--core_change3);
  animation: animate 6s steps(12) infinite;
}
@keyframes animate {
  0% {
    left: 24%;
  }
  20% {
    left: 24%;
  }
  30% {
    left: 70%;
  }
  40% {
    left: 70%;
  }
  50% {
    left: 24%;
  }
  60% {
    left: 24%;
  }
  80% {
    left: 70%;
  }
  90% {
    left: 70%;
  }
  100% {
    left: 24%;
  }
}
body .home-section .parent .son1 div:last-child {
  padding-top: 20px;
  font-size: 2.5em;
}
body .home-section .parent .son2 img {
  width: 500px;
  height: 500px;
  border-left: 3px solid var(--core_change1);
  position: relative;
}/*# sourceMappingURL=index.css.map */